:host {
    position: fixed;
    left: 0;
    height: 100%;
    display: none;
    z-index: 1000;

    &.show-menu-transition {
        .main-menu-content {
            animation: showMainMenu .3s ease-in-out forwards;
        }
    }

    &.hide-menu-transition {
        .main-menu-content {
            animation: hideMainMenu .3s ease-in-out forwards;
        }
    }
  
    .main-menu-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 1.5em .7em 0 1.5em;
        background-color: #fff;
        min-width: 280px;

        .menu__item__highlighted {
            background-color: #a344fa;
            font-weight: bold;
            margin-bottom: .2em;

            &:hover {
                background-color: #a953fa!important;

                a:after { 
                    display: none;
                }
            }
            
            a {
                color: #fff!important;
            }
        }

        .menu__item {
            border-radius: .5em;
            padding: 0.45em;
            position: relative;

            &:hover {
                background-color: #eee;

                a:after {
                    content: '';
                    position: absolute;
                    right: .5em;
                    width: 1.1em;
                    height: 1.1em;
                    mask-size: 1.1em;
                    mask-repeat: no-repeat;
                    background-color: #000;
                    mask-image: url("/src/shared/assets/icons/arrow-right.svg");
                }
            }
            
            a {
                color: #000;
                text-decoration: none;
                display: flex;
                gap: 1em;
                align-items: center;
                
                &:before {
                    content: '';
                    width: 1.5em;
                    height: 1.5em;
                    mask-size: 1.5em;
                    mask-repeat: no-repeat;
                    background-color: #bbb;
                }

                &[name=wibes]:before {
                    background-image: url("/src/shared/assets/icons/wibes.svg");
                    background-repeat: no-repeat;
                    background-size: 1.5em;
                    mask-image: none;
                    background-color: transparent;
                }

                &[name=sale]:before {
                    background-image: url("/src/shared/assets/icons/sale.svg");
                    background-repeat: no-repeat;
                    background-size: 1.5em;
                    mask-image: none;
                    background-color: transparent;
                }

                &[name="women"]::before { mask-image: url("/src/shared/assets/icons/women.svg"); }
                &[name="shoes"]::before { mask-image: url("/src/shared/assets/icons/shoes.svg"); }
                &[name="kids"]::before { mask-image: url("/src/shared/assets/icons/kids.svg"); }
                &[name="men"]::before { mask-image: url("/src/shared/assets/icons/man.svg"); }
                &[name="home"]::before { mask-image: url("/src/shared/assets/icons/home.svg"); }
                &[name="beauty"]::before { mask-image: url("/src/shared/assets/icons/beauty.svg"); }
                &[name="accessories"]::before { mask-image: url("/src/shared/assets/icons/accessories.svg"); }
                &[name="electronics"]::before { mask-image: url("/src/shared/assets/icons/electronics.svg"); }
                &[name="toys"]::before { mask-image: url("/src/shared/assets/icons/toys.svg"); }
                &[name="furniture"]::before { mask-image: url("/src/shared/assets/icons/furniture.svg"); }
                &[name="adult"]::before { mask-image: url("/src/shared/assets/icons/adult.svg"); }
                &[name="food"]::before { mask-image: url("/src/shared/assets/icons/food.svg"); }
                &[name="appliances"]::before { mask-image: url("/src/shared/assets/icons/appliances.svg"); }
                &[name="pets"]::before { mask-image: url("/src/shared/assets/icons/pets.svg"); }
                &[name="sports"]::before { mask-image: url("/src/shared/assets/icons/sport.svg"); }
                &[name="auto"]::before { mask-image: url("/src/shared/assets/icons/auto.svg"); }
                &[name="books"]::before { mask-image: url("/src/shared/assets/icons/books.svg"); }
                &[name="tools"]::before { mask-image: url("/src/shared/assets/icons/tools.svg"); }
                &[name="garden"]::before { mask-image: url("/src/shared/assets/icons/garden.svg"); }
                &[name="health"]::before { mask-image: url("/src/shared/assets/icons/health.svg"); }
                &[name="stationery"]::before { mask-image: url("/src/shared/assets/icons/stationery.svg"); }
                &[name="promotions"]::before { mask-image: url("/src/shared/assets/icons/promotions.svg"); }
            }

        }
    }
}

@keyframes showMainMenu {
    from { transform: translateX(-350px); }
    to { transform: translateX(0); }
}

@keyframes hideMainMenu {
    from { transform: translateX(0); }
    to { transform: translateX(-350px); }
}
