<template shadowrootmode="open">
    <style>
        :host {
            flex-shrink: 0;
            scroll-snap-align: center;
            pointer-events: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            box-sizing: border-box;
            flex-basis: 100%;

            ::slotted(*) {
                width: 100%;
                height: 100%;

                overflow: hidden;
            }
        }
    </style>

    <slot></slot>
</template>