:host([loading]) {
  --skeleton-backgropund: #f3f3f3;
  background-color: var(--skeleton-backgropund);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(to right,
        var(--skeleton-backgropund),
        var(--skeleton-backgropund) 25%,
        var(--skeleton-backgropund) calc(25% + 1px),
        var(--skeleton-backgropund),
        #fafafa,
        #f5f5f5 40%,
        var(--skeleton-backgropund) calc(40% + 1px));
    animation: product-item-shimmer 1.4s ease-in-out infinite;
  }
}

:host {
  width: 100%;
  height: auto;
  aspect-ratio: 9 / 16;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}

@keyframes product-item-shimmer {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(75%, 0, 0);
  }
}

.card {
  display: flex;
  flex-direction: column;
  font-size: 0.875em;
  gap: .5em;
  cursor: default;
}

.card__img-wrapper {
  width: 100%;
  height: 100%;
  aspect-ratio: 10 / 12;
  border-radius: 0 0 1em 1em;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  &:hover {
    .card__preview-wrapper {
      display: block;
    }

    .card__tags-wrapper {
      display: none;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.block {
  display: flex;
  align-items: center;
  gap: .5em;
}

.card__price__red,
.card__brand__verified,
.card__rating {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: .75em;
    height: .75em;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .25em;
  }
}


.card__price-block {

  .card__price {
    color: var(--default-color);
    font-size: 1.125em;
    line-height: 1.5em;
    font-weight: bold;
  }

  .card__price__red {
    color: var(--red);

    &::before {
      background-image: url('/src/shared/assets/icons/discont.svg');
    }
  }

  .card__old-price {
    color: var(--gray-color);
  }
}

.card__brand-and-category-block {
  font-size: 1em;
  font-weight: 400;
  gap: .3em;
  margin: 0;

  .card__brand__verified::before {
    background-image: url('/src/shared/assets/icons/verified.svg');
  }

  .card__category {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--gray-color-2);
  }
}

.card__rating-and-review-block {
  color: var(--gray-color-2);

  .card__rating {
    color: var(--default-color);
    &::before {
      background-image: url('/src/shared/assets/icons/star.svg');
      position: relative;
      top: -1px;
    }
  }

  .card__reviews {
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: block;
      width: .25em;
      height: .25em;
      border-radius: 50%;
      background-color: var(--gray-color-2);
      margin-right: .5em;
    }
  }
}

.card__buy {
  padding: .5em 1.5em;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  border-radius: .5em;
  font-weight: bold;
  margin-top: .5em;
  align-items: center;

  &:hover {
    background-color: var(--primary-2);
  }

  .card__buy-basket {
    width: 1em;
    height: 1em;
    background-image: url('/src/shared/assets/icons/basket.svg');
    background-repeat: no-repeat;
    background-size: 1em;
    margin-right: .5em;
  }
}

.card__preview-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: none;
  
  .card__preview {
    margin: .5em;
    padding: .5em 1em;
    text-align: center;
    border-radius: .5em;
    background-color: var(--white-transparent);
  }
}

.card__like-button {
  position: absolute;
  top: .5em;
  right: .5em;
  width: 2em;
  height: 2em;
  border: none;
  background-image: url('/src/shared/assets/icons/like.svg');
  background-repeat: no-repeat;
  background-size: 2em;
  background-color: transparent;

  &:hover {
    background-image: url('/src/shared/assets/icons/likeHovered.svg');
  }
}

.card__tags-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .5em;

  .card__tag {
    display: flex;
    align-items: center;
    border-radius: .5em;
    color: #fff;
    padding: .1em .25em;
    font-weight: bold;
    font-size: .9em;
    margin-top: .5em;
  }

  .card__tag__discont {
    background-color: var(--red);
  }

  .card__tag__good-price {
    background-color: var(--primary);
    &::before {
      content: '';
      display: block;
      width: 1em;
      height: 1em;
      background-image: url('/src/shared/assets/icons/goodPrice.svg');
      margin-right: .25em;
      background-repeat: no-repeat;
    }
  }

  .card__tag__sale {
    background-color: #FC8816;
  }
}